{% extends "base_generic.html" %}
{% block content %}

<form class="form" action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }} 
    {% endif %} 
    
    {% comment %} <p>{{ form.email }}</p> {% endcomment %}
    <table>
        <tr>
            <td>    
                <input class="form-control mt-3 mb-3" placeholder="Email" name="email" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control mb-3" value="Submit" type="submit" />

            </td>

        </tr>
        
    </table>
</form>
<p><a href="{% url 'login' %}">Cancel</a></p>
{% endblock %}
