{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form class="form" action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <input class="form-control mt-3 mb-3 " placeholder="New password" type="password" name="new_password1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control mb-3" placeholder="Confirm password" type="password" name="new_password2" />
                    </td>
                    {% comment %} <td>{{ form.new_password2 }}</td> {% endcomment %}
                </tr>
                <tr>
                    <td>
                        <input class="form-control mb-3 btn-info" type="submit" value="Change my password" />
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
