{% extends "base_generic.html" %}

{% block content %}
    <h1>Список книжечек</h1>
    {% if book_list_number_seven %}
    <ol>
      {% for book in book_list_number_seven %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }}, {{ forloop.last }}, {{ forloop.first }})
        {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'book_update' book.pk %}">Update</a>
        <a href="{% url 'book_delete' book.pk %}">Delete</a>
        {% endif %}

      </li>
      {% endfor %}

    </ol>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}